<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<body>
    <h1>Welcome,
        <%= user.firstName %>!</h1>
    <p>Email:
        <%= user.email %>
    </p>
    <p>Role:
        <%= user.role %>
    </p>
    <a href="/leads/create">Add Lead</a>
</body>

</html>