<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>No Leads Found</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="flex w-full h-screen justify-center items-center bg-gray-100 ">
        <header class="fixed top-0 left-0 w-full bg-white shadow-md z-10 h-20">
            <div class="container h-full min-w-full flex justify-between items-center p-4">
              <!-- Logo Wrapper -->
              <div class="h-full w-44  ">
                <img 
                  class="h-full w-full object-cover" 
                  src="/images/knoqlogicologico.svg" 
                  alt="Company Logo" 
                />
              </div>
        <div class="mt-20 flex flex-col sm:flex-row w-full sm:w-11/12 lg:w-3/4 bg-white rounded-lg shadow-lg overflow-hidden">
            <!-- Left Side: Image -->
            <div class="w-full sm:w-1/2">
                <img
                    src="https://thumbs.dreamstime.com/b/no-found-symbol-unsuccessful-search-vecotr-upset-magnifying-glass-cute-not-zoom-icon-suitable-results-oops-page-failure-122786031.jpg"
                    alt="Search Image"
                    class="w-full h-auto object-cover rounded-md bg-none">
            </div>
            <!-- Right Side: Text -->
            <div class="w-full sm:w-1/2 flex flex-col items-center justify-center text-center p-6">
                <h1 class="text-4xl sm:text-5xl font-bold text-gray-800 mb-4 capitalize">No leads found</h1>
                <a href="/leads/create"
                    class="px-6 py-2 bg-blue-500 text-white font-medium rounded-lg hover:bg-blue-600 transition-colors">
                    Create New Lead
                </a>
            </div>
        </div>
        
<script>
        const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");

    menuToggle.addEventListener("click", () => {
      mobileMenu.classList.toggle("hidden");
    });
    </script>
    </body>
</html>