<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Authorization</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center w-full h-screen bg-gray-1">
    <div class="text-center p-8 bg-white ">
        <img src="/images/401.PNG" alt="Authorization Required" class="mb-6 mx-auto  rounded-lg ">
        <div class="capitalize text-white p-6 rounded-md">
            <h1 class="text-5xl font-bold mb-4 text-purple-600">No Authorization Found</h1>
            <p class="mb-6 text-purple-400 text-xl">This page is not publicly available. <br>To access it, please login first.</p>
            <a href="/"  class="px-4 py-2 bg-purple-600 text-white rounded-xl hover:bg-slate-700 transition">
                RETURN HOME
            </a>
        </div>
    </div>
</body>
</html>